<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
<h1>Welcome to our greetings app!</h1>
<p id="randomGreeting"></p>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        fetch('/random_greeting')
            .then(response => response.json())
            .then(data => {
                document.getElementById('randomGreeting').textContent = data.message;
            });
    });
</script>
</body>
</html>
