<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Greetings App</title>
</head>
<body>
<div id="root"></div>
<!--<script src="path/to/your/bundle.js"></script>-->
</body>
</html>
